

<div class="container">
   {{ form_start(form,{'attr':{'novalidate' : 'novalidate'}}) }}
 
   <div class="form-groupe">
      {{ form_label(form.prix,"prix") }}
      {{ form_widget(form.prix,{'attr':{'class':'form-control'}}) }}
      {% if form_errors(form.prix) is not empty %}
      <div class="alert alert-danger" > 
      {{ form_errors(form.prix) }}

      </div>
 {% endif %}
      <div class="form-groupe">
      {{ form_label(form.nom,"Nom") }}
      {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
      {% if form_errors(form.nom) is not empty %}
      <div class="alert alert-danger" > 
      {{ form_errors(form.nom) }}
      </div>
    {% endif %}
      <div class="form-groupe">
      {{ form_label(form.description,"description") }}
      {{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}
      {% if form_errors(form.description) is not empty %}
      <div class="alert alert-danger" > 
      {{ form_errors(form.description) }}
      </div>
 {% endif %}
 <div class="form-groupe">
      {{ form_label(form.date,"Date") }}
      {{ form_widget(form.date,{'attr':{'class':'form-control'}}) }}
      {% if form_errors(form.date) is not empty %}
      <div class="alert alert-danger" > 
      {{ form_errors(form.date) }}
      </div>
 {% endif %}
 <div class="form-groupe">
      {{ form_label(form.category,"Category") }}
      {{ form_widget(form.category,{'attr':{'class':'form-control'}}) }}
      {% if form_errors(form.category) is not empty %}
      <div class="alert alert-danger" > 
      {{ form_errors(form.category) }}
      </div>
 {% endif %}
 
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}