 

{% block body %}
     

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Objet</th>
                <th>Description</th>
                <th>Nom</th>
                <th>reclamation_id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse in reponses %}
            <tr>
                <td>{{ reponse.id }}</td>
                <td>{{ reponse.objet }}</td>
                <td>{{ reponse.description }}</td>
                <td>{{ reponse.nom }}</td>
                 <td>{{reponse.reclamation }}</td>
                <td>
                    <a  class="btn btn-primary"href="{{ path('app_reponse_show', {'id': reponse.id}) }}">show</a>
                     
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

     
{% endblock %}

 